<!DOCTYPE html>
<html>
	<head>
		{% include "partials/header.html" %}
		{% include "partials/full navbar.html" %}
    <link rel="stylesheet" href="/static/styles/information.css"> 
    <link rel="stylesheet" href="/static/styles/global.css">
	</head>
	<body id="info-page">
    <center>
		  <h2>Information</h2><br>
    </center>

    <div class="info">
      <h3> What is carbon footprint? </h3>
      <p> &raquo; Carbon footprint is the amount of CO2 released into the atmosphere because of one's own energy needs. It includes carbon dioxide — the gas most commonly emitted by humans — and others, including methane, nitrous oxide, and fluorinated gases, which trap heat in the atmosphere, causing global warming.</p>
      <br><br>

      <h3> Why should we reduce our carbon footprint? </h3>
      <p> &raquo; Large carbon footprints deplete resources on large and small scales, from a country’s deforestation activities to one home’s increased use of air conditioning. The more those with large carbon footprints use resources, the more greenhouse gases increase and spur further climate change.</p>
      <p> &raquo; Some consequences of large carbon footprints include shrinking water supplies, increasing incidents of severe weather, changes in food supply, and large geographical changes.</p>

      <br><br>
      <br><br>
    </div>

    <div class="sources">
      <h3> Sources </h3>
      <br>
      <p>
        &raquo; Taylor, Lindsey. “What Are Some Natural Environmental Issues in the Tundra?” Sciencing, 28 June 2019, sciencing.com/natural-environmental-issues-tundra-23642.html.
      </p>
      <p>
        &raquo; Jaines, Kira. “Effects of Carbon Footprint.” Sciencing, 2 July 2019, sciencing.com/effects-of-carbon-footprint-4984464.html.
      </p>
      <p>
        &raquo; “Overview of Greenhouse Gases.” EPA, Environmental Protection Agency, 28 May 2020, www.epa.gov/ghgemissions/overview-greenhouse-gases.
      </p>
      <p>
        &raquo; Albeck-Ripka, Livia. “How to Reduce Your Carbon Footprint.” The New York Times, The New York Times, www.nytimes.com/guides/year-of-living-better/how-to-reduce-your-carbon-footprint.
      </p>
      
      
    </div>

    
    <!-- <script src="scripts/profile.js"> </script> -->
		{% include "partials/include js.html" %}
	</body>

</html>
