<!DOCTYPE html>
<html>
	<head>
		{% include "partials/header.html" %}
		<!-- The random numbers will also prevent caching -->
		<link rel="stylesheet" href="/static/styles/index.css">
		{% include "partials/navbar.html" %}
		<link rel="stylesheet" href="/static/styles/landing.css">
	</head>
	<body>
		<div class="row" style="margin-bottom:20%;">
			<div class="col-6 landing-text-wrapper">
				<h1>lower your carbon footprint.</h1>
				<a href="/dashboard" class="btn btn-primary"> click here to get started</a>
				<a class="btn btn-primary anchor-link" scroll-to="#about"> learn more</a>
			</div>
			<div class="col-6 landing-img-wrapper">
				<img src="/static/images/device.png">
			</div>
		</div>
    

    <div id="about" class = "about">
      <center> <h2> About </h2> 
        <p> In 30 years, sea level rise will submerge more than 99% of coastal towns and cities and will displace more than 300 million people. Global temperatures will increase 2° C, making some tropical areas uninhabital. We seek to inform and encourage individuals to actively reduce their carbon footprint through Emission. Emission records individual's transportation, water and electricity consumption, diet, wardrobe, and recycling habits and calculates the total amount of carbon dioxide and other greenhouse gases produced. </p>
      </center>
      <br>

      <div class="grid-container">
        <div class="grid-item">
          <img src="https://cdn.discordapp.com/attachments/720100330993483796/721123510935617536/Copy_of_emission_3.png" alt="sustainability">
        </div>
        <div class="grid-item">
          <img src="https://cdn.discordapp.com/attachments/720100330993483796/721123632385884170/Copy_of_emission_4.png">
        </div>
        <div class="grid-item">
          <img src="https://cdn.discordapp.com/attachments/720100330993483796/721123812900601917/Copy_of_emission_5.png">
        </div>  
        <div class="grid-item">
          <img src="https://cdn.discordapp.com/attachments/720100330993483796/721123902633279568/Copy_of_emission_6.png">
        </div>
        <div class="grid-item">
          <p>Track your daily <br> sustainability score </p>
        </div>
        <div class="grid-item">
          <p> Analyze your habits and improve your lifestyle </p>
        </div>
        <div class="grid-item">
          <p> Compete with your <br>friends on the <br>leaderboard </p>
        </div>  
        <div class="grid-item">
          <p> Complete weekly challenges to earn badges</p>
        </div>
      </div>
      <br><br><br>


    </div>
    
    <center><br><h2> Meet the Team </h2></center><br><br>
		<div id="team" class="team">
			<div>
				<img class="rounded-circle" src="static/images/Michelle.jpg" alt="Michelle Bryson">
				<a href="https://www.linkedin.com/in/michelle-a-bryson/" target="_blank">
					<p><br>Michelle Bryson</p>
				</a>
			</div>

			<div>
				<img class="rounded-circle" src="static/images/Kevin.jpeg" alt="Kevin Gauld">
				<a href="https://www.linkedin.com/in/kevin-gauld-048b5819b/s" target="_blank">
					<p><br>Kevin Gauld</p>
				</a>
			</div>

			<div>
				<img class="rounded-circle" src="static/images/Ethan.png" alt="Ethan Horowitz">
				<a href="https://www.linkedin.com/in/ethan-horowitz-163b791ab/" target="_blank">
					<p><br>Ethan Horowitz</p>
				</a>
			</div>

			<div>
				<img class="rounded-circle" src="static/images/Bach.jpg" alt="Bach Nguyen">
				<a href="https://www.linkedin.com/in/bach-nguyen-36a6511a7" target="_blank">
					<p><br>Bach Nguyen</p>
				</a>
			</div>

			<div>
				<img class="rounded-circle" src="static/images/Jendy.png" alt="Jendy Ren">
				<a href="https://www.linkedin.com/in/jendy/" target="_blank">
					<p><br>Jendy Ren</p>
				</a>
			</div>

			<div>
				<img class="rounded-circle" src="static/images/Christina.jpg" alt="Christina Wong">
					<a href="https://www.linkedin.com/in/christina-wong-26baa116b" target="_blank">
					<p><br>Christina Wong</p>
					</a>
			</div>
		</div>
		
		<script src="https://code.jquery.com/jquery-3.1.0.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="/static/scripts/index.js"></script>
	</body>

</html>
