<!DOCTYPE html>
<html>
	<head>
		{% include "partials/header.html" %}
		<link rel="stylesheet" href="/static/styles/login.css">
	</head>
	<body class="text-center">

		<form class="form-signin" method="POST">
		
			<img class="mb-4" src="/static/images/emission_logo.png" style="margin-top:-100px;" alt="" height=150>
				<!-- Alert the user if authentication was successful or not -->
		
			<h1 class="h3 mb-3" id="login-text">Sign In</h1>
			{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for message in messages %}
				<div class="alert {% if newuser %} alert-info {% else %} alert-danger {% endif %}" role="alert">
					{{ message }}
				</div>
				{% endfor %}
			{% endif %}
			{% endwith %}
			<label for="inputUsername" class="sr-only">Username</label>
			<input name="username" type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>

			<label for="inputPassword" class="sr-only">Password</label>
			<input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
			<label for="inputPassword2" class="sr-only">Enter Your pasword Again</label>
			<input name="password2" type="password" id="inputPassword2" class="form-control hide" placeholder="Enter Your pasword Again"></input>
			
			<input class="btn btn-lg btn-primary btn-block" type="submit" id='submit' value="Login"></input>
			<br>
			<a href="#" id="switch" onclick="swap()">Don't have an account? Sign Up</a>
		</form>
		<script src="/static/scripts/login.js"></script>
	{% include "partials/include js.html" %}
  </body>

</html>
