<!DOCTYPE html>
<html>

<head>
	{% include "partials/header.html" %}

	<link rel="stylesheet" href="/static/styles/profile.css"> {% include "partials/full navbar.html" %}
</head>

<body>
	<center>
		<h2> Profile </h2>

		<div class="grid-container">
			<div class="grid-item">

				<p> Badges </p>
				<div class="badge-container">
					<div class="badge">
						<img src="static/images/badge.png" width=50%>
            </div>

            <div class="badge">
              <img src="static/images/badge.png" width=50%>
            </div>

            <div class="badge">
              <img src="static/images/badge.png" width=50%>
            </div>

            <div class="badge">
              <img src="static/images/badge.png" width=50%>
            </div>
          </div>
        
        <br><br>
        <p> Challenges </p>
        </div>
		
        <div class="grid-item">
          <select class="form-control form-control-lg" name="select-menu" id="select_type" onchange="flipDescription()">
            <option value="general-transit"> General Transit </option>
            <option value="daily-transit"> Daily Transit </option>
            <option value="diet"> Diet </option>
            <option value="energy"> Energy </option>
            <option value="wardrobe"> Wardrobe </option>
            <option value="recycling"> Recycling </option>
            <option value="water"> Water </option>
          </select>

          <!-- General Transit Survey -->
          <form id="general-transit-survey" class ="description">
            <p> Have many times have you flown this year? </p>
            <div class="slidercontainer">
              <input type="range" min="0" max="15" value = "7" class="slider" id="num_times_flown_slider">
            </div>
            <label class="value_label" id="num_flown_val"> 7 </label>

            <p> Average flight time (hours)? </p>
            <div class="slidercontainer">
              <input type="range" min="0" max="18" value = "9" class="slider" id="flight_time_slider">
            </div>
            <label class="value_label" id="flight_time_val"> 9 </label>

            <p> How many miles per gallon does your car get? </p>
            <div class="slidercontainer">
                <input type="range" min="" max="60" value = "30" class="slider" id="mpg_slider">
            </div>
            <label class="value_label" id="mpg_val"> 30 </label>

            <p> </p>
            

            <input class="submit-button" type="submit">
          </form>
          

          <!-- Daily Transit Survey -->
          <form id="daily-transit-survey" class = "description hide">
            <p> How many miles do you drive everyday? </p>
            <div class="slidercontainer">
              <input type="range" min="0" max="900" value = "450" class="slider" id="miles_slider">
            </div>
            <label class="value_label" id="miles_val"> 450 </label>

            <p> </p>
            <input class="submit-button" type="submit">
          </form>

          <!-- General Transit Survey -->
          <form id="diet-survey" class = "description hide">
            <p> QUESTION? </p>
            <div class="slidercontainer">
              <input type="range" min="1" max="50" value = "25" class="slider" >
            </div>
            <p> </p>
            <input class="submit-button" type="submit">
          </form>

          <!-- General Transit Survey -->
          <form id="energy-survey" class = "description hide">
            <p> QUESTION? </p>
            <div class="slidercontainer">
              <input type="range" min="1" max="50" value = "25" class="slider" >
            </div>
            <p> </p>
            <input class="submit-button" type="submit">
          </form>


          <form id="wardrobe-survey" class = "description hide">
            <p> QUESTION? </p>
            <div class="slidercontainer">
              <input type="range" min="1" max="50" value = "25" class="slider">
            </div>
            <p> </p>
            <input class="submit-button" type="submit">
          </form>


          <form id="recycling-survey" class = "description hide">
            <p> QUESTION? </p>
            <div class="slidercontainer">
              <input type="range" min="1" max="50" value = "25" class="slider">
            </div>
            <p> </p>
            <input class="submit-button" type="submit">
          </form>



          <form id="water-survey" class = "description hide">
            <p> QUESTION? </p>
            <div class="slidercontainer">
              <input type="range" min="1" max="50" value = "25" class="slider">
            </div>
            <p> </p>

            <input class="submit-button" type="submit">
          </form>
        </div>
   
        
     </div>

    
    
    </center>

		{% include "partials/include js.html" %}
    
    <script src="/static/scripts/profile.js"></script>
	</body>
</html>