<!DOCTYPE html>
<html>

<!-- Possible addition: depending on which button clicked by the user on dashboard, open the drop down menu to the one selected
    Change survey layout to have less asymmetric spacing
    Set the values for the overview to be the last edited
    Only accept one entry for other surveys daily, but also add edit function
-->

<head>
	{% include "partials/header.html" %}

	<link rel="stylesheet" href="/static/styles/profile.css"> {% include "partials/full navbar.html" %}
</head>

<body id="profile-page">
	<center>
		<h2> Profile </h2>

		<div class="grid-container">
			<div class="grid-item">
        <p> Overview </p>
          <div class="area-description-container">
            <div class="area-description">
              <img class="rounded-circle" src="/static/images/transit.png" alt="transportation" width="100" height="100">
            </div>
            <div class="area-description">
              <p> descripty things descripty things descripty things descripty things descripty things descripty things descripty things<p> <br>
            </div> 

            <div class="area-description">
              <img class="rounded-circle" src="/static/images/diet.png" alt="diet" width="100" height="100">
            </div>
            <div class="area-description">
              <p> descripty things descripty things descripty things descripty things descripty things descripty things descripty things<p> <br>
            </div> 

            <div class="area-description">
              <img class="rounded-circle" src="/static/images/energy.png" alt="Energy" width="100" height="100">
            </div>
            <div class="area-description">
              <p> descripty things descripty things descripty things descripty things descripty things descripty things descripty things<p> <br>
            </div> 

            <div class="area-description">
              	<img class="rounded-circle" src="/static/images/wardrobe.png" alt="wardrobe" width="100" height="100">
            </div>
            <div class="area-description">
              <p> descripty things descripty things descripty things descripty things descripty things descripty things descripty things<p> <br>
            </div>

            <div class="area-description">
              	<img class="rounded-circle" src="/static/images/recycling.png" alt="Recycling" width="100" height="100">
            </div>
            <div class="area-description">
              <p> descripty things descripty things descripty things descripty things descripty things descripty things descripty things<p> <br>
            </div> 
            
            <div class="area-description">
              <img class="rounded-circle" src="/static/images/water.png" alt="water" width="100" height="100">
            </div>
            <div class="area-description">
              <p> descripty things descripty things descripty things descripty things descripty things descripty things descripty things<p> <br>
            </div> 
          </div>

       
        </div>

				<iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
		
        <div class="grid-item">
          <select class="form-control form-control-lg" name="select-menu" id="select_type" onchange="flipDescription()">
            <option value="general-transit"> Overview </option>
            <option value="daily-transit"> Daily Transit </option>
            <option value="diet"> Diet </option>
            <option value="energy"> Energy </option>
            <option value="wardrobe"> Wardrobe </option>
            <option value="recycling"> Recycling </option>
            <option value="water"> Water </option>
          </select>

          <!-- Overview -->
          <form id="general-transit-survey" class ="description" method="POST" target="dummyframe">
            <h5> Have many times have you flown this year? </h5>
            <div class="slidercontainer">
              <input name="transit-num_flown" type="range" min="0" max="15" value = "7" class="slider" id="num_flown_slider">
            </div>
            <label class="value_label" id="num_flown_val"> 7 </label>

            <h5> Average flight time (hours)? </h5>
            <div class="slidercontainer">
              <input name="transit-flight_time" type="range" min="0" max="18" value = "9" class="slider" id="flight_time_slider">
            </div>
            <label class="value_label" id="flight_time_val"> 9 </label>

            <h5> How many miles per gallon does your car get? </h5>
            <div class="slidercontainer">
                <input name="transit-mpg" type="range" min="" max="60" value = "30" class="slider" id="mpg_slider">
            </div>
            <label class="value_label" id="mpg_val"> 30 </label>

            <h5> How many kW of energy did you use this month? </h5>
            <div class="slidercontainer">
              <input name="energy-energy" type="range" min="1" max="50" value = "25" class="slider" id='energy-slider'>
            </div>

            <h5> How often do you buy clothes? </h5>
              <input type="checkbox" name="clothes-weekly" value="weekly">
              <label for="weekly"> Weekly </label><br>
              <input type="checkbox" name="clothes-monthly" value="monthly">
              <label for=""> Month </label><br>
              <input type="checkbox" name="clothes-yearly" value="yearly">
              <label for=""> Yearly</label><br>

            <h5> How many items do you buy? </h5>
            <div class="slidercontainer">
              <input name="wardrobe-wardrobe" type="range" min="1" max="50" value = "25" class="slider" id='wardrobe-slider'>
            </div>


            <h5> Where do you buy new clothes/shoes? </h5>
              <input type="checkbox" name="newClothes-second_hand" value="second_hand">
              <label for="second_hand"> Second-Hand </label><br>
              <input type="checkbox" name="newClothes-brand_new" value="brand_new">
              <label for="brand_new"> Brand New </label><br>

            
            <br>
            <input class="submit-button" type="submit">
          </form>
          

          <!-- Daily Transit Survey -->
          <form id="daily-transit-survey" class = "description hide" method="POST" target="dummyframe">
            <h5> How many miles do you drive today? </h5>
            <div class="slidercontainer">
              <input name="dayTransit-mileDrive" type="range" min="0" max="650" value = "30" class="slider" id="miles_slider">
            </div>

            <h5> Did you carpool? </h5>
            <div class="slidercontainer">
              <input name="dayTransit-carpool" type="range" min="0" max="650" value = "30" class="slider" id="carpool_slider">
            </div>

            <h5> Did you use public transportation? </h5>
            <div class="slidercontainer">
              <input name="dayTransit-mileDrive" type="range" min="0" max="650" value = "30" class="slider" id="miles_val">
            </div>

            <label class="value_label" id=""> 30 </label>
            <br>
            <input class="submit-button" type="submit">
          </form>

          <!-- Daily Diet Survey -->
          <form id="diet-survey" class = "description hide" method="POST" target="dummyframe">
            <h5> What did you eat for breakfast (calories)? </h5><br>

            <p>Meat/Fish/Eggs</p>
            <div class="slidercontainer">
              <input name="diet-m_bfast" type="range" min="0" max="10000" value = "475" class="slider" id="m_bfast_slider">
            </div>
            <label class="value_label" id="m_bfast_val"> 475 </label>

            <p>Grains/Baked Goods</p>
            <div class="slidercontainer">
              <input name="diet-g_bfast" type="range" min="0" max="10000" value = "590" class="slider" id="g_bfast_slider">
            </div><label class="value_label" id="g_bfast_val"> 590 </label>

            <p>Dairy</p>
            <div class="slidercontainer">
              <input name="diet-d_bfast" type="range" min="0" max="10000" value = "250" class="slider" id="d_bfast_slider">
            </div>
            <label class="value_label" id="d_bfast_val"> 250 </label>

            <p>Fruits/Vegetables</p>
            <div class="slidercontainer">
              <input name="diet-f_bfast" type="range" min="0" max="10000" value = "240" class="slider" id="f_bfast_slider">
            </div>
            <label class="value_label" id="f_bfast_val"> 240 </label>


            <h5> What did you eat for lunch (calories)? </h5>
            <p>Meat/Fish/Eggs</p>
            <div class="slidercontainer">
              <input name="diet-m_lunch" type="range" min="0" max="10000" value = "475" class="slider" id="m_lunch_slider">
            </div>
            <label class="value_label" id="m_lunch_val"> 475 </label>
<!-- wait guys this needs to have a structure for the db: category-option -->
<!-- so this would be "diet-food" -->
            <p>Grains/Baked Goods</p>
            <div class="slidercontainer">
              <input name="diet-g_lunch" type="range" min="0" max="10000" value = "590" class="slider" id="g_lunch_slider">
            </div><label class="value_label" id="g_lunch_val"> 590 </label>

            <p>Dairy</p>
            <div class="slidercontainer">
              <input name="diet-d_lunch" type="range" min="0" max="10000" value = "250" class="slider" id="d_lunch_slider">
            </div>
            <label class="value_label" id="d_lunch_val"> 250 </label>

            <p>Fruits/Vegetables</p>
            <div class="slidercontainer">
              <input name="diet-f_lunch" type="range" min="0" max="10000" value = "240" class="slider" id="f_lunch_slider">
            </div>
            <label class="value_label" id="f_lunch_val"> 240 </label>

            <h5> What did you eat for dinner (calories)? </h5>
            <p>Meat/Fish/Eggs</p>
            <div class="slidercontainer">
              <input name="diet-m_dinner" type="range" min="0" max="10000" value = "475" class="slider" id="m_dinner_slider">
            </div>
            <label class="value_label" id="m_dinner_val"> 475 </label>

            <p>Grains/Baked Goods</p>
            <div class="slidercontainer">
              <input name="diet-g_dinner" type="range" min="0" max="10000" value = "590" class="slider" id="g_dinner_slider">
            </div><label class="value_label" id="g_dinner_val"> 590 </label>

            <p>Dairy</p>
            <div class="slidercontainer">
              <input name="diet-d_dinner" type="range" min="0" max="10000" value = "250" class="slider" id="d_dinner_slider">
            </div>
            <label class="value_label" id="d_dinner_val"> 250 </label>

            <p>Fruits/Vegetables</p>
            <div class="slidercontainer">
              <input name="diet-f_dinner" type="range" min="0" max="10000" value = "240" class="slider" id="f_dinner_slider">
            </div>
            <label class="value_label" id="f_dinner_val"> 240 </label>
            
            <h5> What did you eat for snacks? </h5>
            <p>Meat/Fish/Eggs</p>
            <div class="slidercontainer">
              <input name="diet-m_snack" type="range" min="0" max="10000" value = "475" class="slider" id="m_snack_slider">
            </div>
            <label class="value_label" id="m_snack_val"> 475 </label>

            <p>Grains/Baked Goods</p>
            <div class="slidercontainer">
              <input name="diet-g_snack" type="range" min="0" max="10000" value = "590" class="slider" id="g_snack_slider">
            </div><label class="value_label" id="g_snack_val"> 590 </label>

            <p>Dairy</p>
            <div class="slidercontainer">
              <input name="diet-d_snack" type="range" min="0" max="10000" value = "250" class="slider" id="d_snack_slider">
            </div>
            <label class="value_label" id="d_snack_val"> 250 </label>

            <p>Fruits/Vegetables</p>
            <div class="slidercontainer">
              <input name="diet-f_snack" type="range" min="0" max="10000" value = "240" class="slider" id="f_snack_slider">
            </div>
            <label class="value_label" id="f_snack_val"> 240 </label>
            <br>
            <input class="submit-button" type="submit">
          </form>

          <!-- General Energy Survey -->
          <form id="energy-survey" class = "description hide" method="POST" target="dummyframe">
            <p> might not need this? </p>
            <input class="submit-button" type="submit">
          </form>

          <!-- General Wardrobe Survey -->
          <form id="wardrobe-survey" class = "description hide" method="POST" target="dummyframe">
            <h5> How many loads of laundry do you do a week? </h5>
            <div class="slidercontainer">
              <input name="wardrobe-laundry_loads" type="range" min="1" max="50" value = "25" class="slider" id='laundry_loads-slider'>
            </div>

            <h5> Do you wash your laundry with cold or hot water? </h5>
            <div class="slidercontainer">
              <input name="wardrobe-wash_temp" type="range" min="1" max="50" value = "25" class="slider" id="wash_temp-slider">
            </div>

            <h5> How do you dry your clothes? </h5>
            <div class="slidercontainer">
              <input name="wardrobe-dry_meth" type="range" min="1" max="50" value = "25" class="slider">
            </div>

            <h5> How often do you dry clean your clothes? </h5>
            <div class="slidercontainer">
              <input name="wardrobe-dry_clean" type="range" min="1" max="50" value = "25" class="slider" id="dry_clean-slider">
            </div>

            <input class="submit-button" type="submit">
          </form>

          <!-- General Recyling Survey -->
          <form id="recycling-survey" class = "description hide" method="POST" target="dummyframe">
            <p> QUESTION? </p>
            <div class="slidercontainer">
              <input name="recycle-recycle" type="range" min="1" max="50" value = "25" class="slider" id="recycle-slider">
            </div>
            <p> </p>
            <input class="submit-button" type="submit">
          </form>


          <!-- Daily Water Survey -->
          <form id="water-survey" class = "description hide" method="POST" target="dummyframe">
            
            <p> How long did you shower? </p>
            <div class="slidercontainer">
              <input name="water-water_length" type="range" min="1" max="50" value = "25" class="slider" id="water_length-slider">
            </div>
            
            <p> Hot or cold? </p>
            <div class="slidercontainer">
              <input name="water-water_temp" type="range" min="1" max="50" value = "25" class="slider" id="water_temp-slider">
            </div>

            <input class="submit-button" type="submit">
          </forGeneral
        </div>
   
        
     </div>

    
    
    </center>

		{% include "partials/include js.html" %}
    
    <script src="/static/scripts/profile.js"></script>
	</body>
</html>