{% extends "base.html" %}

{% block nav_items %}
<li class="nav-item">
	<a class="nav-link" href="/dashboard">Dashboard</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="/leaderboard">Leaderboard</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="/profile">Profile</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/information">Information</a>
</li>
<li class="nav-item">
	<a class="nav-link active" href="/settings">Settings</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="/logout">Log Out</a>
</li>
{% endblock %}


{% block body %}
  <h2> Settings </h2>

{% endblock %}