<!DOCTYPE html>
<html>
	<head>

		{% include "partials/header.html" %}

		<link rel="stylesheet" href="/static/styles/landing.css">
		<link rel="stylesheet" href="/static/styles/index.css">

		{% include "partials/navbar.html" %}

	</head>
	<body>
	<div class="row">
		<div class="col-6 landing-text-wrapper">
			<h1>want to lower your carbon footprint?</h1>
			<button class="btn btn-primary" onclick="window.location.href='/index'"> click here to get started</button>
		</div>
		<div class="col-6 landing-img-wrapper">
			<img src="{{url_for('static', filename='images/device.png')}}">
		</div>
	</div>

	<div id="team" class="grid-container team">
			<div class="item1 member">
				<img class="rounded-circle" src="static/images/Michelle.jpg" alt="Michelle Bryson" style="width:200px">
				<a href="https://www.linkedin.com/in/michelle-a-bryson/" target="_blank">
					<h2>Michelle Bryson</h2>
				</a>
			</div>

			<div class="item2">
				<img class="rounded-circle" src="static/images/Kevin.jpeg" alt="Kevin Gauld" style="width:200px">
				<a href="https://www.linkedin.com/in/kevin-gauld-048b5819b/s" target="_blank">
					<h2>Kevin Gauld</h2>
				</a>
			</div>

			<div class="item3">
				<img class="rounded-circle" src="static/images/Ethan.png" alt="Ethan Horowitz" style="width:200px">
				<a href="https://www.linkedin.com/in/ethan-horowitz-163b791ab/" target="_blank">
					<h2>Ethan Horowitz</h2>
				</a>
			</div>

			<div class="item4">
				<img class="rounded-circle" src="static/images/Bach.jpg" alt="Bach Nguyen" style="width:200px">
				<a href="https://www.linkedin.com/in/bach-nguyen-36a6511a7" target="_blank">
					<h2>Bach Nguyen</h2>
				</a>
			</div>

			<div class="item5">
				<img class="rounded-circle" src="static/images/Jendy.png" alt="Jendy Ren" style="width:200px">
				<a href="https://www.linkedin.com/in/jendy/" target="_blank">
					<h2>Jendy Ren</h2>
				</a>
			</div>

			<div class="item6">
				<img class="rounded-circle" src="static/images/Christina.jpg" alt="Christina Wong" style="width:200px">
					<a href="https://www.linkedin.com/in/christina-wong-26baa116b" target="_blank">
					<h2>Christina Wong</h2>
					</a>
			</div>
		</div>

	</body>
</html>