body{
  font-family: 'Montserrat', sans-serif;
  background-image: url("https://cdn.discordapp.com/attachments/720097811135201291/721593195103911986/info_7.png");
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}