
body {
 font-family: 'Montserrat', sans-serif;
 background-image: url("https://cdn.discordapp.com/attachments/720097811135201291/721510337505001532/index_2.png");
 background-repeat: no-repeat;
 background-attachment: fixed;  
 background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'Montserrat', sans-serif;
 font-weight: 700 !important;
}

#dashboard-page h2{
  text-decoration: none !important;
}

p {
	font-family: 'Montserrat', sans-serif;
	font-size:20px;
	/*background:rgba(255,255,255,0.5);*/
	padding:5px;
	border-radius:10px;
}

a {
	font-weight:600 !important;
	color: #7fcdfa;
	transition:all 0.2s ease;
}
a:hover {
	color:#34ebd8;
	text-decoration:none;
	transition:all 0.2s ease;
}

.greeting{
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  padding: 10px;
  margin-top:0px;
}

.grid-container > div {
  padding: 10px 0;
}

.row{
  margin-top: 5%;
}

body {
  margin-top: 95px;
  padding-bottom: 3rem;
  color: #5a5a5a;
}

.carousel {
	margin-top: 1rem;
	padding-top: 0px;
	background-color: white;
	border:#333 solid 3px;
	border-radius:10px;
	padding:10px;
	height:50vh;
	overflow-y: auto;
}

.carousel h3 {
	color: white;
}

.carousel-caption {
  bottom: 2rem;
  left:0;
  z-index: 10;
  background:rgba(0,0,0,0.5);
  width:100%;
}

.carousel-item {
  object-fit: contain;
  height:47vh;
  background-image: url("https://cdn.discordapp.com/attachments/720097811135201291/721609507167535125/oop.png");
}
.carousel-item > img {
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='red' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='red' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

.btn-primary {
	background: linear-gradient(90deg, rgba(208,255,209,1) 0%, rgba(169,255,249,1) 100%);
	border-radius: 20px;
	border: none;
	color: #333;
	transition:all 0.2s ease;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	padding:10px;
	padding-left: 15px;
	padding-right:15px;
}
.btn-primary:hover {
	color: #000 !important;
	-webkit-box-shadow: 10px 10px 75px -5px rgba(208,255,209,1);
	-moz-box-shadow: 10px 10px 75px -5px rgba(208,255,209,1);
	box-shadow: 10px 10px 75px -5px rgba(208,255,209,1);
	transition:all 0.2s ease;
}
.btn-primary:focus {
	color: #000 !important;
	-webkit-box-shadow: 10px 10px 75px -5px rgba(208,255,209,1);
	-moz-box-shadow: 10px 10px 75px -5px rgba(208,255,209,1);
	box-shadow: 10px 10px 75px -5px rgba(208,255,209,1);
	transition:all 0.2s ease;
}
.btn-primary:active {
	color: #000 !important;
	-webkit-box-shadow: 10px 10px 75px -5px rgba(208,255,209,1);
	-moz-box-shadow: 10px 10px 75px -5px rgba(208,255,209,1);
	box-shadow: 10px 10px 75px -5px rgba(208,255,209,1);
	transition:all 0.2s ease;
}

.modal {
	position: absolute;
	left: 0;
	top: 0;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
	height: 100%;
  justify-content: center;
  align-items: center;
  display: none;
}

.modal-contents {
  background-color: #fff;
  padding: 2rem 4rem;
}

.modal-closebar {
  display: flex;
  justify-content: flex-end;
}

.spread {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 100%;
	align-items: center;
}


/* Random badges */
.badge-a {
	background: #6BD6A0;
}
.badge-b {
	background: #A9FC72;
}
.badge-c {
	background: #F9DC67;
}
.badge-d {
	background: #F1A16B;
}
.badge-f {
	background: #ED6F63;
}
.slidecontainer {
  width: 100%; /* Width of the outside container */
}

#select_type {
	font-family: 'Montserrat', sans-serif;
	width:50%;
	margin-left:auto;
	margin-right:auto;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 50%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
}

.slider:hover {
  opacity: 1; 
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px; 
  height: 25px;
  background: rgb(126, 206, 129);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: rgb(126, 206, 129);
  cursor: pointer;
}

.value_label {
  font-family: 'Montserrat', sans-serif;
  text-align:center;
}

.checkbox_label {
  font-family: 'Montserrat', sans-serif;
}

.caloriecounter{
  background-image: url("https://cdn.discordapp.com/attachments/720097811135201291/721609507167535125/oop.png");
  margin-top: 5%;
  margin-left: 8%;
}

#calories{
  /* margin-left: 3%; */
	font-size: 2em;
	font-weight: bold;
	display: block;
	width: 80%;
}


