body{
 font-family: 'Montserrat', sans-serif;
}

#info-page {
	background-image:url("https://cdn.discordapp.com/attachments/720097811135201291/721517833271378050/info_5.png");
}
.info{
  background: rgba(255, 255, 255, 0.644);
  padding: 3%;
  margin-left: 5%;
  margin-right: 5%;
}

.sources{
  background: rgba(230, 228, 228, 0.644);
  padding: 5%;
  margin-left: 5%;
  margin-right: 5%;
}