body{
 font-family: 'Montserrat', sans-serif;
}

#info-page {
	background-image:url("https://cdn.discordapp.com/attachments/720097811135201291/721517833271378050/info_5.png");
}
.info{
  background: white;
  padding: 3%;
  margin-left: 5%;
  margin-right: 5%;
}

.sources{
  background: rgb(231, 234, 236);
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
}