body {
 font-family: 'Montserrat', sans-serif;
 background-image: url("https://cdn.discordapp.com/attachments/720097811135201291/721517833271378050/info_5.png");
 background-repeat: no-repeat;
 background-attachment: fixed;  
 background-size: cover;
}

.about{
  margin-left: 10%;
  margin-right:10%;
}
.about img{
  width: 25%;
  margin: 5%;
}
.landing-img-wrapper img {
	width:100%;
}

p {
	background: rgba(255,255,255,0.7);
	padding:5px;
	border-radius:10px;
}

.landing-text-wrapper {
	padding:20px;
	padding-left: 100px;
}
.landing-text-wrapper h1 {
	margin-top: 15%;
	padding-bottom:25px;
}

h1 {
	text-transform: none;
	font-size: 4.5rem;
	font-weight:700;
	color: #333;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  padding: 10px;
  margin-top:0px;
}

.grid-container > div {
  text-align: center;
  padding: 10px 0;
}

.grid-item {
  font-size: 20px;
  font-weight:700;
  text-align: center;
}

.team{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	width: 100%;
}

.team div{
  padding: 0 8px;
	display: flex;
	flex-direction: column;
	/* justify-content:  */
	align-items: center;
	/* margin: 1em; */
	
}

.team div img{
	margin: 0;
	width: 200px;
}

.team-member-name {
  margin-top: 20px;
}

#meet-the-team{
  margin-top:5%;
  width: 100%;
  float: left;
}
.container{
  padding: 0 16px;
  padding-bottom: 5px;
}

.card{
  height: 590px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}


@media screen and (max-width: 800px){
  h1 {
	text-transform: none;
	font-size: 2.5rem;
	font-weight:700;
	color: #333;
  }
}