
#profile-page {
	background-image:url("https://cdn.discordapp.com/attachments/720097811135201291/721519787037032547/info_6.png");
}

#select_type {
	font-family: 'Montserrat', sans-serif;
	width:50%;
	margin-left:auto;
	margin-right:auto;
}

.grid-container {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-gap: 10px;
  padding: 10px;
}

.grid-container > div {
  text-align: center;
  padding: 10px 0;
}

.grid-item {
  font-size: 20px;
  text-align: center;
}

.area-description-container {
  display: grid;
  grid-template-columns: 120px auto;
  margin-left: 20px;
}

.area-description {
  font-size: 10px;
  text-align: left;
}

.spread {
  margin-right: 10%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: initial;
}

.down {
  background: rgba(255, 255, 255, 0.699);
	display: flex;
	flex-direction: column;
}
.left {
  background: rgba(255, 255, 255, 0.699);
  margin-left: 2%;
	width: 50%;
}
#friend-box {
	margin-right: 2em;
}
#name-preview {
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	padding: none;
}
#name-preview p {
	cursor: pointer;
	margin-bottom: 0;
}
#name-preview p:hover {
	background: lightgray;
}
#friend-list {
	margin-top: 10em;
}

