#select_type {
	font-family: 'Montserrat', sans-serif;
	width:50%;
	margin-left:auto;
	margin-right:auto;
}

.grid-container {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-gap: 10px;
  padding: 10px;
}

.grid-container > div {
  text-align: center;
  padding: 10px 0;
}

.grid-item {
  font-size: 20px;
  text-align: center;
}

.area-description-container {
  display: grid;
  grid-template-columns: 120px auto;
  margin-left: 20px;
}

.area-description {
  font-size: 10px;
  text-align: left;
}
